[Unit]
Description=Grab the Arch Linux ISO torrent every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=rsstorrent.service

[Install]
WantedBy=timers.target
