[Unit]
Description=Adds the local IP to the welcome screen
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/loginprompt_mod

[Install]
WantedBy=multi-user.target
