[Unit]
Description=php fcgi service startup
After=network.target

[Service]
Type=simple
ExecStart=/etc/lighttpd2/spawn_php
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
