[Unit]
Description=Builds a offline version of the official ArchLinux ISO

[Timer]
OnCalendar=*-*-* 00:40:00
Persistent=True
Unit=build_offline.service

[Install]
WantedBy=timers.target
